
{% extends "layout.html" %}
{% block title %}
Features
{% endblock %}

{% block main %}


<div class="container my-5">

  <div class="p-7 p-md-7 mb-7 text-white rounded bg-dark my-4 mx-0" >
      <div class="col-md-8 px-0">
        <h1 class="display-4 fst-italic">Features</h1>
      </div>
    </div>


<section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="https://cdn.discordapp.com/attachments/969975531770626068/975403230664216596/unknown.png" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#F9F3EE">Help command</h1>
                    <p class="text-muted mt-2 fs-5">View all the commands
                    </p>
               </div>
          </div>
      </div>
      </section>

      <section id="about3">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="https://cdn.discordapp.com/attachments/969975531770626068/975406296448774254/unknown.png" alt="" class="w-100 img-cover">
                    <img src="https://cdn.discordapp.com/attachments/969975531770626068/975406553530245170/unknown.png" alt="" class="w-100 img-cover">
                  </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#F9F3EE">Create Assignments</h1>
                    <p class="text-muted mt-2 fs-5">A simple way for students to notify and 
                      monitor completed and upcoming assignments.  
                      Students can be alerted when assignments are
                       uploaded and reminded about them approaching 
                       the submission deadline if they create them with our bot.
                    </p>
               </div>
          </div>
      </div>
      </section>

      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="https://cdn.discordapp.com/attachments/969975531770626068/975403342111072256/unknown.png" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#F9F3EE">/start session</h1>
                    <p class="text-muted mt-2 fs-5">Sets up respective Teacher| Student roles in the server.
                    </p>
               </div>
          </div>
      </div>
      </section>

      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="https://cdn.discordapp.com/attachments/969975531770626068/975408516749725737/unknown.png" alt="" class="w-100 img-cover">
                    <img src="https://cdn.discordapp.com/attachments/969975531770626068/975408617102639134/unknown.png" alt="" class="w-100 img-cover">
                    <img src="https://cdn.discordapp.com/attachments/969975531770626068/975408716352475206/unknown.png" alt="" class="w-100 img-cover">
               
                  </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#F9F3EE">Create doubt session</h1>
                    <p class="text-muted mt-2 fs-5">Instructors can use it to address students' questions during or after a lecture and during office hours.
                    </p>
               </div>
          </div>
      </div>
      </section>
{% endblock %}